// VARIABLES

$basefont: 'Helvetica','Catamaran', sans-serif;
$textcolor: #2C1703;
$accent: #0FB2D3;
$accent2: #D1ECE5;
$bgcolor-page: #FFFDFB;
$bgcolor-nav: #ffffff;
$bgcolor-button: #00839C; // A darker shade of accent
$bgcolor-card: lighten($accent2, 75%);
$text-button: #ffffff;
$box-shadow: 2px 2px 4px rgba(150, 150, 150, .5);



// MIXINS

@mixin border($size, $color) {
  border: $size solid $color;
}

@mixin cushion($padding, $margin) {
  padding: $padding;
  margin: $margin;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin min-max-width($min-width, $max-width) {
  min-width: $min-width;
  max-width: $max-width;
}

@mixin tablet {
  @media screen and (min-width: 600px) {
    @content;
  }
}

@mixin tablet-landscape {
  @media screen and (min-width: 900px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}


// styles

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  font-size: 16px;
  @include tablet {
    font-size: 18px;
  }
  @include desktop {
    font-size: 20px;
  }
}

body {
  width: 100%;
  background-color: $bgcolor-page;
  color: $textcolor;
  font: {
    family: 'Catamaran';
    weight: 400;
    size: 1em;
  }
}

h1, h2, h3 {
  font-weight: 300;
  margin: 2rem 0 .5rem 0;
}

p {
  line-height: 140%;
  margin-top: 1rem;
}

p:first-of-type {
  margin-top: 0;
}

a {
  color: $accent;
  text-decoration: none;
}

a:hover, a:active {
  color: lighten($accent, 10%);
}

.nav {
  background: $bgcolor-nav;
  width: 100vw;
  box-shadow: $box-shadow;
  ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content:  space-around;
    list-style: none;
    li {
      text-align: center;
      text-transform: uppercase;
      // @include border(1px, #f0f);
    }
    li:last-of-type {
      width: 80px;
    .signin {
      background: $accent2;
      color: $textcolor;
    }

    }
  }
}

.content {
  position: relative;
  max-width: 1200px;
  height: 100%
}

button {
  background: $bgcolor-button;
  border-radius: 4px;
  color: $text-button;
  text-transform: uppercase;
  width: 200px;
}

.card {
  background: $bgcolor-card;
  @include cushion(8px, 0 .5rem);
}
